@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");

@font-face {
    font-family: "CamelFont";
    src: url("./camel-font/camelpl-regular-webfont.woff") format('woff'),
    url("./camel-font/camelpl-regular-webfont.woff2") format("woff2");

}
@font-face {
    font-family: "CamelFont";
    src: url("./camel-font/camelpl-bold-webfont.woff") format("woff"),
    url("./camel-font/camelpl-bold-webfont.woff2") format("woff2");
    font-weight: bold;
}

html {
    font-size: 1.25vh;
    box-sizing: border-box;
  
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
/**/
body {
    background-color: black;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/background1.png);
    background-image: url(./images/background.png);
    position: relative;
}
body .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    padding-top: 0;
    z-index: 1;
    display:none;
}
body .container.active{
    display:flex;
}


body .container .container__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;
    max-width: 35rem;
}
.container__content--textgrabber{
    height: 18.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container .container__content .t1{
    font-size: 2.38rem;
    line-height: normal;
    font-weight: 700;
    text-align: center;
    font-family: "CamelFont";
    margin-bottom: 1.5rem;
    line-height: 3.39rem;
}
body .container .container__content p {
    font-size: 1.65rem;
    line-height: normal;
    font-weight: 700;
    text-align: center;
    font-family: "CamelFont";
    line-height: 2.38rem;
}

body .container .container__content--button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.6rem;
}

body .container .container__content--button button {
    background: #05ACF3;
    /* background: linear-gradient(180deg, rgba(5, 172, 243, 1) 0%, rgba(255, 154, 231, 1) 100%); */
    opacity: 1;
    border: none;
    border-radius: 5rem;
    color: rgba(255, 225, 56, 1);
    font-size: 1.6rem;
    line-height: normal;
    padding: 1rem;
    padding-bottom: 0;
    width: 100%;
    width: 22.95rem;
    height: 4.92rem;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: "CamelFont";
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3), 0px 2px 1px 0px rgba(255, 255, 255, 0.6) inset,0px -2px 2px 0px rgba(151, 131, 61, 0.5) inset;
    cursor:pointer;
}

body .container .container__content--button button:active{
    box-shadow: 0px -4px 3px 0px rgba(255, 255, 255, 0.6) inset,0px 2px 5px 0px rgba(151, 131, 61, 0.6) inset;

}
/**/


body.qEd{
    background-image: url(./images/background1.png);
}
body .container .container__content.qEd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container__content--quiz{
    display: flex;
    flex-direction: column;
}

.container__content--quiz-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

/**/
@keyframes animationBox {
    50% {opacity: 0;}
}
@keyframes animationBox1 {
    from{transform:scale(0);opacity:0}
    to{transform: scale(1);opacity:1}
}

.container__content--quiz-part .cc_anim{
    border-radius: 1rem;
    display: inline-block;
    overflow: hidden;
}
.container__content--quiz-part .cc_anim.animv1{
    animation-name: animationBox;
    animation-duration: 2.7s;
}
.container__content--quiz-part .cc_anim.animv2{
    /* transform: scale(0);
    opacity:1; */
    animation-name: animationBox1;
    animation-duration: .45s;
}
.container.resultcontainer.animv3{
    animation-name: animationBox1;
    animation-duration: .5s;
}
/**/
.container__content--quiz-part.visible{
    height: auto;
    width: auto;
    overflow: auto;
    opacity: 1;
}
.container__content--quiz-part.visible .cc_anim:active{
   
}



.container__content-radio{
    background-color: rgba(5, 172, 243, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 31rem;
    height: 25.55rem;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.6) inset,0px -2px 2px 0px rgba(151, 131, 61, 0.5) inset,3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.container__content-radio .container__content-radioImg{
    width: 29.34rem;
    height: 19.773rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
    margin: .8rem;
    border-radius: .6rem;
}
body .container .container_content-radioSpan{
    font-size: 1.28rem;
    font-family: "CamelFont";
    font-weight: 700;
    margin: 0 0 1.6rem 0;
}
.container__content-reverse .container__content-radio{
    flex-direction: column-reverse;
}
body .container .container__content-reverse .container_content-radioSpan{
    margin: 1.6rem 0 0 0;
}

.container__content--A1 .container__content-radioImg{
    background-image: url(./images/pytania/p1a.png);
}
.container__content--B1 .container__content-radioImg{
    background-image: url(./images/pytania/p1b.png);
}

.container__content--A2 .container__content-radioImg{
    background-image: url(./images/pytania/p2a.png);
}
.container__content--B2 .container__content-radioImg{
    background-image: url(./images/pytania/p2b.png);
}

.container__content--A3 .container__content-radioImg{
    background-image: url(./images/pytania/p3a.png);
}
.container__content--B3 .container__content-radioImg{
    background-image: url(./images/pytania/p3b.png);
}

.container__content--A4 .container__content-radioImg{
    background-image: url(./images/pytania/p4a.png);
}
.container__content--B4 .container__content-radioImg{
    background-image: url(./images/pytania/p4b.png);
}

.container__content--A5 .container__content-radioImg{
    background-image: url(./images/pytania/p5a.png);
}
.container__content--B5 .container__content-radioImg{
    background-image: url(./images/pytania/p5b.png);
}

.container__content--A6 .container__content-radioImg{
    background-image: url(./images/pytania/p6a.png);
}
.container__content--B6 .container__content-radioImg{
    background-image: url(./images/pytania/p6b.png);
}

.container__content--A7 .container__content-radioImg{
    background-image: url(./images/pytania/p7a.png);
}
.container__content--B7 .container__content-radioImg{
    background-image: url(./images/pytania/p7b.png);
}

.container__content--A8 .container__content-radioImg{
    background-image: url(./images/pytania/p8a.png);
}
.container__content--B8 .container__content-radioImg{
    background-image: url(./images/pytania/p8b.png);
}

.container__content--A9 .container__content-radioImg{
    background-image: url(./images/pytania/p9a.png);
}
.container__content--B9 .container__content-radioImg{
    background-image: url(./images/pytania/p9b.png);
}

.container__content--A10 .container__content-radioImg{
    background-image: url(./images/pytania/p10a.png);
}
.container__content--B10 .container__content-radioImg{
    background-image: url(./images/pytania/p10b.png);
}

.container__content--cz{
    color: rgba(0, 60, 113, 1);
    font-family: "CamelFont";
    font-weight: 700;
    font-size: 2.38rem;
    margin: 1.3rem;
}

.container__content-stepper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1.094rem;
    background-color: rgba(199, 211, 235, 1);
}
.container__content-stepper:after{
    content: "";
    width: 10%;
    height: 1.094rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(71, 178, 255, 1);
}
.container__content-stepper.step1:after{
    width: 20%;
}
.container__content-stepper.step2:after{
    width: 30%;
}
.container__content-stepper.step3:after{
    width: 40%;
}
.container__content-stepper.step4:after{
    width: 50%;
}
.container__content-stepper.step5:after{
    width: 60%;
}
.container__content-stepper.step6:after{
    width: 70%;
}
.container__content-stepper.step7:after{
    width: 80%;
}
.container__content-stepper.step8:after{
    width: 90%;
}
.container__content-stepper.step9:after{
    width: 100%;
}

/**/

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}
[type=radio]:hover + .container__content-radio .container__content-radioImg{
        background-size: 115%;
}
[type=radio]:checked + .container__content-radio, [type=radio]:active + .container__content-radio {
    box-shadow: 0px 4px 7px 0px rgba(12, 18, 32, 0.5) inset,0px -2px 3px 0px rgba(132, 209, 255, 0.5) inset;
}

.container__content-radio:hover .container__content-radioImg{
    background-size: 115%;
}
.container__content-radio:active {
    box-shadow: 0px 4px 7px 0px rgba(12, 18, 32, 0.5) inset,0px -2px 3px 0px rgba(132, 209, 255, 0.5) inset;
}

.container__content-button{
    border: none;
    background: none;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    color: white;
}

/********/

body.wynik{
    background-image: url(./images/background3.png);
}
body .container .container__content p.result-title{
    font-size: 4rem;
    line-height: 4.59rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 38rem;
    height:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-box{
    background-color: rgba(255, 225, 56, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31rem;
    height: 38rem;
    box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.6) inset, 0px -2px 2px 0px rgba(151, 131, 61, 0.5) inset, 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
.result-img{
    width: 29.34rem;
    height: 19.773rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
    margin: .8rem;
    border-radius: .6rem;
    height: 100%;
    max-height: 19.773rem;
}
.result-img.result1{
    background-image: url(./images/result1.png);
}
.result-img.result2{
    background-image: url(./images/result2.png);
}
.result-img.result3{
    background-image: url(./images/result3.png);
}
.result-img.result4{
    background-image: url(./images/result4.png);
}
.result-contentContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16rem;
}

body .container .container__content p.result-content{
    font-size: 1.24rem;
    line-height: 1.9rem;
    color: rgba(0, 60, 113, 1);
    width: 100%;
    max-width: 30rem;
    font-family: "Inter";

}
body .container .container__content--button.resultEd{
    margin-top: 3rem;
}
.container__content--button.resultEd .desc1{
    color: rgba(0, 60, 113, 1);
    font-family: "CamelFont";
    font-weight: 700;
    font-size: 1.094rem;
    line-height: 1.815rem;
}
.container__content--button.resultEd .desc2{
    color: rgba(0, 60, 113, 1);
    font-family: "CamelFont";
    font-weight: 500;
    font-size: 1.094rem;
    line-height: 1.815rem;
    margin: .4rem 0 1.5rem 0;
    width: 100%;
    max-width: 30rem;
}
.container__content--button.resultEd .desc2 span{
    font-weight: 700;
}

body .container .container__content.resultEd{
    margin-top: 0;
}
/*******/
@media screen and (min-width: 900px){
    body{
        background-image: url(./images/bg.png);
    }
    body.qEd{
        background-image: url(./images/background2.png);
    }
    body.wynik{
        background-image: url(./images/background4.png);
    }
    body:before{
        content: "";
        position: absolute;
        background-image: url(./images/tape.png);
        width: 100vw;
        height: 40rem;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;

    }
    body:after{
        content: "";
        position: absolute;
        bottom: 0;
        background-image: url(./images/cake.png);
        width: 100vw;
        height: 40rem;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-position-y: 10rem;
    }
    body .container .container__content {
        max-width: 50rem;
        margin-top: -12rem;
    }
    body .container .container__content.ed1{
        max-width: 46rem;
    }
    body .container .container__content--button{
        margin-top: .5rem;
        
    }
    .container__content--quiz-part{
        flex-direction: row;
    }

    .container__content-reverse .container__content-radio{
        flex-direction: column;
    }
    body .container .container__content-reverse .container_content-radioSpan{
        margin: 0 0 1.6rem 0;
    }
    /**/
    body.qEd:before{
        display: none;
    }
    body.qEd:after{
        display: none;
    }

    body.wynik:before{
        display: none;
    }
    body.wynik:after{
        display: none;
    }
}

@media screen and (min-width: 1400px){
    body:before{
        height: 60rem;
        background-position-y: -6rem;
    }
    body:after{
        background-position-y: 4rem;
    }
    body .container .container__content{
        margin-top: -16rem;
    }
}

@media screen and (min-width: 1500px){
   
    body:after{
        background-position-y: 0rem;
    }
  
}

@media screen and (min-width: 1600px){
   
    body:after{
        background-position-y: -2rem;
    }
  
}

@media screen and (max-width: 380px) and (min-height: 800px) {
    html {
        font-size: 1vh;
   }
 
}

